In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv('EdamamApi.csv',sep=";")

print("Producto con sus nutrientes")
print(df)

Producto con sus nutrientes
            Nombre  Caloria  Proteina  Grasa  Fibra  Carbohidrato
0     Baked Potato    95.00      2.63   0.13   2.30         21.40
1   Crispy Chicken   187.00     33.40   4.71   0.00          0.51
2            Donut   421.00      6.14  22.70   2.10         47.90
3            Fries   180.05      2.97  12.31   1.83         15.27
4          Hot Dog   211.00     19.30  14.04   0.00          1.75
5         Sandwich   164.32      7.46   8.10   2.22         15.95
6            Tacos   158.52      8.02   8.94   2.04         11.99
7         Taquitos   176.85     10.00   9.67   1.88         13.03
8        apple pie   265.00      2.40  12.50   0.00         37.10
9           burger   182.66     14.24   8.98   0.62         11.46
10     butter naan   274.76      6.92   8.89   1.81         41.42
11            chai    41.60      1.39   1.63   0.45          5.70
12         chapati   297.00     11.20   7.45   4.90         46.40
13      cheesecake   321.00      5.50  22.50   0.40         25.50
14   chicken curry   141.11      9.43   8.54   1.18          6.88
15   chole bhature   187.93      6.00   8.25   3.69         23.76
16     dal makhani   139.88      5.56   6.32   3.91         16.65
17      fried rice   172.84      5.58   5.67   1.24         24.54
18       ice cream   205.03      3.16  11.94   0.71         22.35
19            idli   565.00      6.36   0.62   5.00         26.31
20          jalebi   234.56      2.14   8.03   0.60         39.46
21           rolls   252.00      6.71   8.37   2.26         37.71
22    kadai paneer    74.53      3.70   4.14   1.57          6.57
23     masala dosa   153.37      3.79   4.90   2.50         23.45
24           momos   178.58      7.30   8.21   1.30         18.88
25        omelette   161.09      8.97  12.42   0.62          3.32
26          pakora   175.38      4.68  10.18   3.33         17.19
27       pav bhaji    99.25      2.69   3.60   2.27         14.96
28           pizza   268.00     10.40  12.30   2.20         29.00
29           sushi   126.96      4.18   2.75   0.76         20.90

In [13]:
print(f"Hay {df.shape[0]} comidas diferentes.")
print(f"Las comidas son: {df['Nombre'].values.flatten().tolist()}")

Hay 30 comidas diferentes.
Las comidas son: ['Baked Potato', 'Crispy Chicken', 'Donut', 'Fries', 'Hot Dog', 'Sandwich', 'Tacos', 'Taquitos', 'apple pie', 'burger', 'butter naan', 'chai', 'chapati', 'cheesecake', 'chicken curry', 'chole bhature', 'dal makhani', 'fried rice', 'ice cream', 'idli', 'jalebi', 'rolls', 'kadai paneer', 'masala dosa', 'momos', 'omelette', 'pakora', 'pav bhaji', 'pizza', 'sushi']

In [4]:
print("Tipos de columnas")
print(df.dtypes)

Tipos de columnas
Nombre           object
Caloria         float64
Proteina        float64
Grasa           float64
Fibra           float64
Carbohidrato    float64
dtype: object

In [5]:
print("Descripción de los nutrientes")
df.describe()

Descripción de los nutrientes

          Caloria   Proteina      Grasa      Fibra  Carbohidrato
count   30.000000  30.000000  30.000000  30.000000     30.000000
mean   203.709000   7.407333   8.626333   1.789667     20.910333
std    103.164765   6.250621   5.258623   1.350271     13.023107
min     41.600000   1.390000   0.130000   0.000000      0.510000
25%    154.657500   3.722500   5.092500   0.642500     12.250000
50%    179.315000   6.070000   8.310000   1.820000     19.890000
75%    247.640000   8.732500  11.500000   2.267500     26.107500
max    565.000000  33.400000  22.700000   5.000000     47.900000

In [6]:
print("Alimentos con fibra")
df[df["Fibra"]==0]

Alimentos con fibra

           Nombre  Caloria  Proteina  Grasa  Fibra  Carbohidrato
1  Crispy Chicken    187.0      33.4   4.71    0.0          0.51
4         Hot Dog    211.0      19.3  14.04    0.0          1.75
8       apple pie    265.0       2.4  12.50    0.0         37.10

In [7]:
print("Alimentos con bajo valo de carbohidratos")
df[df["Carbohidrato"]<4]

Alimentos con bajo valo de carbohidratos

            Nombre  Caloria  Proteina  Grasa  Fibra  Carbohidrato
1   Crispy Chicken   187.00     33.40   4.71   0.00          0.51
4          Hot Dog   211.00     19.30  14.04   0.00          1.75
25        omelette   161.09      8.97  12.42   0.62          3.32

In [15]:
print("Alimentos con mayor valor de carbohidratos")
df[df["Carbohidrato"]== df["Carbohidrato"].max()]

Alimentos con bajo valo de carbohidratos

  Nombre  Caloria  Proteina  Grasa  Fibra  Carbohidrato
2  Donut    421.0      6.14   22.7    2.1          47.9